.home-container {
  padding: 20px;
  // background-color: #f9f9f9;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  // margin-top: 5rem;
}

.text-section {
  padding: 20px;

  .main-heading {
    font-size: 2.5rem;
    //   font-weight: 700;
    color: #1e1e1e;
    color: #0068b3;
  }

  .highlighted-heading {
    font-size: 2.5rem;
    //   font-weight: 700;
    color: #0068b3;

    span {
      color: #007bff;
      font-weight: bold;
    }
  }

  .estimate-button {
    margin-top: 20px;
    background-color: #0068B3;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;

    &:hover {
      background-color: #e64a19;
    }
  }
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;

  .home-image {
    width: 100%;
    height: auto;
    max-width: 600px;
  }
}
.spotlight_deals {
  text-align: center;

  .heading_1 {
    font-weight: bold;
  }
  .title {
    color: gray;
  }
}
// ------------------------feedback-section-----------------------

.feedback-section {
  background-color: #fff;
  padding: 20px;

  .MuiTypography-h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .MuiTypography-subtitle1 {
    color: gray;
  }

  .MuiCard-root {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-5px);
    }
  }

  .MuiAvatar-root {
    border: 2px solid #ff5722;
  }

  .MuiRating-root {
    color: #ff5722;
  }

  .MuiButton-root {
    min-width: 40px;
    height: 40px;
    // border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #ff5722;
      color: white;
    }
  }
}
