.home-container {
  // padding: 20px;

  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .text-section,
    .image-section {
      width: 100%;
      text-align: center;

      @media (min-width: 768px) {
        text-align: left;
        width: 50%;
      }
    }
  }

  .marquee-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

    .marquee-content {
      display: flex;
      white-space: nowrap;
    }
  }

  .spotlight_deals {
    text-align: center;

    .heading_1 {
      font-weight: bold;
    }
  }

  .button-container {
    display: grid;
    gap: 1rem;

    @media (max-width: 768px) {
      margin-top: 15px;
    }

    @media (min-width: 769px) {
      grid-template-columns: auto;
      justify-content: space-between;
      display: flex;
    }

    .button-link {
      text-decoration: none;

      .custom-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .feedback-section {
    // padding: 20px;

    .MuiCard-root {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  .image-section {
    display: flex;
    justify-content: center;
    align-items: center;

    .home-image {
      width: 100%;
      max-width: 600px;
      height: auto;
    }
  }

  .text-section {
    .main-heading {
      font-size: 2.5rem;
      color: #0068b3;
    }

    .highlighted-heading {
      font-size: 2.5rem;
      color: #0068b3;

      span {
        color: #007bff;
        font-weight: bold;
      }
    }

    .estimate-button {
      margin-top: 20px;
      background-color: #0068b3;
      color: white;
      padding: 10px 20px;
      font-size: 1.2rem;

      &:hover {
        background-color: #e64a19;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .pos-home-top .home-content .text-section {
    position: absolute;
    text-align: left;
    z-index: 1;
    max-width: calc(100% - 30%);
    left: 0;
  }

  .pos-home-top .text-section .main-heading,
  .pos-home-top .text-section .highlighted-heading {
    font-size: 1rem;
  }

  .pos-home-top .estimate-button {
    padding: 4px 8px !important;
    font-size: .6rem !important;
    line-height: .7rem;

  }

  .marquee-home h2 {
    font-size: 1.75rem
  }

  .home-container .home-content {
    position: relative;
  }

  .home-container .home-content::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.541);
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .marquee-home h2 {
    font-size: 3rem
  }
}