.navbar-content {
  .discount-heading {
    color: #fc5f03;
    font-weight: bold;
    // font-size: 25px;
  }
  .nav-title {
    text-transform: none; 
    background-color: transparent;  
    box-shadow: none;
    outline: none; 
    color: #FC5F03; 
    font-weight: bold;
    font-size: 16px;
    
    &:hover {
      background-color: transparent;
      box-shadow: none;
      outline: none;
      text-decoration: underline; 
      color: #FC5F03; 
    }
  }  
}
